<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Prjbrain</title>
    <link rel="stylesheet" href="/static/sanitize.css">
    <link rel="stylesheet" href="/static/style.css">
  </head>
  <body>
    <div id="header">Prjbrain</div>
    <div id="sidebar">
      <a href="/">Overview</a>
      <a href="/details">Detailed report</a>
      <a href="/other">Other</a>
    </div>
    <div id="content">
      {{ template "body" . }}
    </div>
    <div class="clear"></div>
  </body>
</html>
