<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ .Title }}</title>
    <link rel="stylesheet" href="/static/sanitize.css">
    <link rel="stylesheet" href="/static/style.css">
  </head>
  <body>
    <div id="sidebar">
      <a href="/">Start</a>
      <a href="/docs">Docs</a>
      <a href="/report">Report</a>
      <a href="/other">Other</a>
    </div>
    <div id="content">
      <h1>{{ .Title }}</h1>
      {{ with .Summary }}
      <h2>Summary</h2>
      {{ . }}
      {{ end }}
      {{ .Body }}
    </div>
    <div class="clear"></div>
  </body>
</html>
