<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/static/sanitize.css">
    <link rel="stylesheet" href="/static/style.css">
  </head>
  <body>
    <div id="sidebar">
      <a href="/">Start</a>
      <a href="/docs">Docs</a>
      <a href="/report">Report</a>
      <a href="/other">Other</a>
    </div>
    <div id="content">
       <ul>
      {{ range . }}
        <li>{{ .DocNr }} - {{ .Title }}
          <ul>
          {{ range .Files }}
            <li>{{.}}</li>
          {{ end }}
          </ul>
        </li>
      {{ end }}
      </ul>
    </div>
    <div class="clear"></div>
  </body>
</html>
