{{ define "body" }}
<h1>Overview: {{ .ProjectNumber }} - {{ .ProjectName }}</h1>

{{ range .DocMap }}
  {{ if gt (len .Files) 0 }}
  <details>
    <summary>{{ .DocNr }} - {{ .Title }}</summary>
    <table class="files">
        <th>Nr</th>
        <th>Rev</th>
        <th>Path</th>
        <th>Comment</th>
        <th>Action</th>
    {{ range .Files }}
      <tr>
        <td>{{ .Nr }}</td>
        <td>{{ .Rev }}</td>
        <td>{{ .RelPath }}</td>
        <td class="warning">{{ .Comment }}</td>
        <td>
          <form class="file-form" action="/files" method="get">
            <input type="hidden" name="path" value="{{ .RelPath }}">
            <input type="submit" id="open" value="Open">
          </form>
        </td>
      </tr>
    {{ end }}
    </table>
  </details>
  {{ else }}
    <div class="empty">{{ .DocNr }} - {{ .Title }}</div>
  {{ end }}
{{ end }}

{{ if gt (len .OrphanFiles) 0 }}
  <h2>Orhpan files</h2>
  <ul>
  {{ range .OrphanFiles }}
    <li>{{ .RelPath }}</li>
  {{ end }}
  </ul>
{{ end }}
{{ end }}
