{{ define "body" }}
<h1>Overview: {{ .ProjectNumber }} - {{ .ProjectName }}</h1>

{{ range .DocMap }}
  {{ if gt (len .Files) 0 }}
  <details>
    <summary>{{ .DocNr }} - {{ .Title }}</summary>
    <ul class="files">
    {{ range .Files }}
      <li>
        <form action="/files" method="get">
          <input type="hidden" name="path" value="{{ .RelPath }}">
          <input type="submit" value="{{ .RelPath }}">
        </form>
      </li>
    {{ end }}
    </ul>
  </details>
  {{ else }}
    <div class="empty">{{ .DocNr }} - {{ .Title }}</div>
  {{ end }}
{{ end }}

{{ if gt (len .OrphanFiles) 0 }}
  <h2>Orhpan files</h2>
  <ul>
  {{ range .OrphanFiles }}
    <li>{{ .RelPath }}</li>
  {{ end }}
  </ul>
{{ end }}
{{ end }}
